<h1 class="h3 mb-3 text-gray-800"><%= " #{ action_message } administradores" %></h1>

<% if @subject.errors.any? %>
<div class="alert alert-danger" role="alert">
    <% @subject.errors.full_messages.each do |mensagens| %>
      <li><%= mensagens %> </li>
    <% end %>
</div>
<% end %>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"> <%= " #{ action_message } administradores" %></h6>
  </div>
  <div class="card-body">
    <%= form_with(model: [ :admins_backoffice, @subject ], local: true) do |form| %>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control", placeholder: "Descreva o Assunto/Ãrea..." %>
      </div>
      <button type="submit" class="btn btn-outline-primary">Submit Button</button>
    <% end %>
  </div>
</div>
